---
layout: default
title: Get Started
permalink: /
---
<h1>get-started</h1>

<div class="codigo" style="background: #272822; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><pre style="margin: 0; line-height: 125%"><span style="color: #f92672">&lt;link</span> <span style="color: #a6e22e">rel=</span><span style="color: #e6db74">&quot;stylesheet&quot;</span> <span style="color: #a6e22e">type=</span><span style="color: #e6db74">&quot;text/css&quot;</span> <span style="color: #a6e22e">href=</span><span style="color: #e6db74">&quot;https://agenciamonk.github.io/dist/monk.css&quot;</span><span style="color: #f92672">&gt;</span>
</pre></div>

<!-- <div class="content list">
  {% if site.posts.size == 0 %}
    <h2>No post found</h2>
  {% else %}
    {% for post in site.posts %}
      <div class="list-item">
        <h2 class="list-post-title">
          <a href="{{ site.baseurl }}{{ post.url }}" style="color: black">{{ post.title }}</a>
        </h2>
        <div class="list-post-date">
          <time>{{ post.date | date_to_string }}</time>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div> -->
