---
layout: default
title: Get Started
permalink: /
---
<h1>get-started</h1>
<div class="content list">
  {% if site.posts.size == 0 %}
    <h2>No post found</h2>
  {% else %}
    {% for post in site.posts %}
      <div class="list-item">
        <h2 class="list-post-title">
          <a href="{{ site.baseurl }}{{ post.url }}" style="color: black">{{ post.title }}</a>
        </h2>
        <div class="list-post-date">
          <time>{{ post.date | date_to_string }}</time>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
