<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Monk opensource</title>
  <meta name="description" content="Framework interno da agência Monk"/>
  <meta name="author" content="gustavo quinalha"/>
  <link rel="base" href="https://agenciamonk.github.io/"/>
  <link rel="canonical" href="https://agenciamonk.github.io/"/>
  <meta rel="sitemap" type="application/xml" content="https://agenciamonk.github.io/sitemap.xml"/>
  <meta name="robots" content="index/follow"/>
  <meta name="googlebot" content="index/follow"/>
  <meta name="theme-color" content=""/>
  <meta name="msapplication-navbutton-color" content=""/>
  <meta name="apple-mobile-web-app-status-bar-style" content=""/>
  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Monk opensource"/>
  <meta itemprop="description" content="Framework interno da agência Monk"/>
  <meta itemprop="image" content="https://agenciamonk.github.io/img/intro.jpg"/>
  <!-- markup for facebook -->
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Monk opensource"/>
  <meta property="og:url" content="https://agenciamonk.github.io/"/>
  <meta property="og:site_name" content="Monk opensource"/>
  <meta property="og:image" content="https://agenciamonk.github.io/img/intro.jpg"/>
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="600">
  <meta property="og:description" content="Framework interno da agência Monk"/>
  <meta property="og:locale" content="pt_BR"/>
  <meta property="fb:app_id" content="1154262757941899"/>
  <meta property="fb:admins" content="100002787447461"/>
  <!-- markup for twitter -->
  <meta name="twitter:card" content="Summary"/>
  <meta name="twitter:title" content="Monk opensource"/>
  <meta name="twitter:description" content="Framework interno da agência Monk"/>
  <meta name="twitter:creator" content="gustavo quinalha"/>
  <meta name="twitter:site" content="https://agenciamonk.github.io/"/>
  <meta name="twitter:image" content="https://agenciamonk.github.io/img/intro.jpg"/>
  <!-- JSON-LD - structured data markup Google Search -->
  <script type="application/ld+json">
  {"@context":"http://www.schema.org","@type":"website","name":"Monk Framework","alternateName":"Monk opensource","url":"https://agenciamonk.github.io/"}
  </script>

  <!-- <link rel="stylesheet" href="{{ "components/css/final/final.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "components/css/flexalign.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "components/css/fonts.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "components/css/colors.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "components/css/buttons.css" | prepend: site.baseurl }}"> -->


  <link rel="stylesheet" href="{{ "/css/master.min.css" | prepend: site.baseurl }}">




  {% if page.url == "/doc/basic/buttons" %}
  <link rel="stylesheet" href="{{ "/font-awesome-4.7.0/css/font-awesome.min.css" | prepend: site.baseurl }}">


  {% else %}
  {% endif %}



</head>
