
{% if page.url == "/start/sobre" %}
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
<script src="{{ '/js/d3.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/log.js' | prepend: site.baseurl }}"></script>



{% else %}
{% endif %}
{% if page.url == "/doc/playground" %}
<script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/play4.js' | prepend: site.baseurl }}"></script>
{% else %}
{% endif %}


<script type="text/javascript">
  var hamburgerAbre = document.getElementById('hamburg');
  var hamburgerFecha = document.getElementById('fecha-menu-hamb');

  // ABRIR MENU
  hamburgerAbre.onclick = function() {
    var abre = document.getElementById('fechahamburg');
    if (abre.style.display !== 'block') {
      abre.style.display = 'block';
    } else {
      abre.style.display = 'none';
    }
  };
  // /ABRIR MENU

  // FECHAR MENU
  hamburgerFecha.onclick = function() {
    var fecha = document.getElementById('fechahamburg');
    if (fecha.style.display !== 'block') {
      fecha.style.display = 'block';
    } else {
      fecha.style.display = 'none';
    }
  };
  // /FECHAR MENU
</script>
