input {
  height: 40px;
  padding-left: 10px;
  width: calc(100% - 10px);
  outline: inherit;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  font-weight: bold;
  -webkit-transition: .6s;
  transition: .6s;
}

.form-validate input:required:valid,
.form-validate input:focus:valid {
   background-image: url(font/img/checked.svg);
   background-position: center right;
   background-repeat: no-repeat;
   background-size: 15px;
 }
.form-validate input:required:invalid {
   background-image: url(font/img/unchecked.svg);
   background-position: center right;
   background-repeat: no-repeat;
   background-size: 15px;
 }
input:focus {
  border: 1px solid rgba(0, 0, 0, .5);
}
input::-webkit-input-placeholder{
  color: rgba(0, 0, 0, 0.4)!important;
  font-weight: normal;
}
input:-ms-input-placeholder{
  color: rgba(0, 0, 0, 0.4)!important;
  font-weight: normal;
}
input::placeholder{
  color: rgba(0, 0, 0, 0.4)!important;
  font-weight: normal;
}
input:disabled {
  opacity: .5;
  background: #ccc;
  cursor: not-allowed
}
form label {
  font-size: 12px;
  margin-right: 5px;
}
.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}
.input-group input {
  border: 1px solid transparent;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
}
.input-group input:focus {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}
.input-group-icon {
  margin-left: 10px;
}

.input label {
  font-size: 12px;
}
.input-group input:disabled {
  opacity: .5;
  cursor: not-allowed;
  background: none
}


form ul {
  list-style: none;
  width: 100%;
}
form ul li {
  display: flex;
  align-items: center;
}
input[type="radio"] {
  width: auto;
  margin-right: 5px;
}
.simple-check input[type="radio"] {
  width: auto;
  margin-right: 5px;
}
.simple-check input[type="radio"]:checked + label {
  font-weight: bold
}
.simple-check {
}








.img-check input[type="radio"] {
  display: none
}
.img-check label {
  width: 40px;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.img-check input[type="radio"] + label {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s
}
.img-check input[type="radio"]:checked + label {
  background: #dedede;
}








/*ADVANCED SELECT CHECKBOX*/
.advanced-check input[type="checkbox"],
.advanced-check input[type="radio"] {
  display: none;
}
label {
  cursor: pointer;
}
.advanced-check input[type="checkbox"] + label:before,
.advanced-check input[type="radio"] + label:before {
  margin: 2px;
  content: "\00a0";
  display: inline-block;
  height: 15px;
  width: 15px;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #9d9a9a;
}
.advanced-check input[type="checkbox"]:checked + label:before {
  content: "\2714";
  color: #3FC380;
  /*font-size: 12px;*/
}

.advanced-check input[type="radio"]:checked + label:before {
  content: "\2716";
  color: #3FC380;
  /*font-size: 12px;*/
}
/*input[type="checkbox"]:checked + label:after
input[type="radio"]:checked + label:after {
  font-weight: bold;
}*/
/*ADVANCED SELECT CHECKBOX*/
